In [3]:
#Question 11
#testing diaplyed code
username = "user"
for letter in username:
    print("Hello " + str(username) + "!")
    username = "username"

Hello user!
Hello username!
Hello username!
Hello username!

In [93]:
#Question 9

#testin displayed code
def taxes(salary, side_income, tax_rate):
    tax_rate = 0.3
    side_income = salary*0.1
    salary
    tax_to_pay = (side_income + salary) * tax_rate
    return tax_to_pay

tax_rate = 0.50
taxes(100, 10, tax_rate)

33.0

In [4]:
#Question 12
#testing displayed code
x = 100
while x >=5:
    x = (x-1) / 2
    print(x)

49.5
24.25
11.625
5.3125
2.15625

In [5]:
#Question 13
#testing displayed code
y = ""
x = 6
name = ["D", "u", "n", "c", "a", "n", "T"]
while x > 1:
    x -=1
    y = y+name[x]
print(y)

nacnu

In [5]:
#Question 16

#importing pandas
import pandas as pd

#calling file
file = "./halloween.xlsx"

#defining variable for file read
halloween_df = pd.read_excel(io = file)

#getting info on dataset for dtype using .info
halloween_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2763 entries, 0 to 2762
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     2763 non-null   int64
 1   RENTALS                2763 non-null   int64
 2   City                   2763 non-null   object
 3   Day of Week            2750 non-null   object
 4   Costume Rating         2763 non-null   int64
 5   Temperature            2763 non-null   float64
 6   Humidity               2743 non-null   float64
 7   Wind Speed             2763 non-null   float64
 8   Visibility             2750 non-null   float64
 9   Dew Point Temperature  2763 non-null   float64
 10  Raison Risk            2763 non-null   float64
 11  Candy Overload         2763 non-null   float64
 12  Rainfall               2763 non-null   float64
 13  Group Size             2763 non-null   object
 14  Full Moon              2763 non-null   object
dtypes: float64(8), int64(3), object(4)
memory usage: 323.9+ KB

In [71]:
#Question 18

#getting descriptive summary of dataset using .describe
#Filtering only for "Candy Overload"
halloween_df.loc[:, ['Candy Overload']].describe()

       Candy Overload
count     2763.000000
mean         0.075208
std          0.431646
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          7.000000

In [75]:
#Question 19

#Filtering to column Group Size and counting values per category
#descending output to be sure
halloween_df['Group Size'].value_counts(ascending=False)

Group Size
Medium     735
Small      706
Massive    689
Large      633
Name: count, dtype: int64

In [24]:
#Question 20

#including row 0-49 and all columns using loc
#calling correlation function with pearson method
#only including numeric values
#rounding to 2 decimals
halloween_df.iloc[:50,:].corr(method = 'pearson', numeric_only = True).round(decimals = 2)

,ID,RENTALS,Costume Rating,Temperature,Humidity,Wind Speed,Visibility,Dew Point Temperature,Raison Risk,Candy Overload,Rainfall
ID,1.00,-0.05,0.05,-0.20,0.16,-0.24,-0.36,0.08,-0.15,NaN,NaN
RENTALS,-0.05,1.00,0.54,0.24,-0.39,0.38,0.33,-0.29,0.21,NaN,NaN
Costume Rating,0.05,0.54,1.00,0.55,-0.54,0.41,0.28,-0.13,0.28,NaN,NaN
Temperature,-0.20,0.24,0.55,1.00,-0.67,0.48,-0.01,0.11,0.62,NaN,NaN
Humidity,0.16,-0.39,-0.54,-0.67,1.00,-0.66,-0.51,0.67,-0.66,NaN,NaN
Wind Speed,-0.24,0.38,0.41,0.48,-0.66,1.00,0.47,-0.42,0.57,NaN,NaN
Visibility,-0.36,0.33,0.28,-0.01,-0.51,0.47,1.00,-0.65,0.18,NaN,NaN
Dew Point Temperature,0.08,-0.29,-0.13,0.11,0.67,-0.42,-0.65,1.00,-0.31,NaN,NaN
Raison Risk,-0.15,0.21,0.28,0.62,-0.66,0.57,0.18,-0.31,1.00,NaN,NaN
Candy Overload,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rainfall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#helping myself getting the right syntax
help(halloween_df.corr)

Help on method corr in module pandas.core.frame:

corr(method: 'CorrelationMethod' = 'pearson', min_periods: 'int' = 1, numeric_only: 'bool' = False) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Compute pairwise correlation of columns, excluding NA/null values.

    Parameters
    ----------
    method : {'pearson', 'kendall', 'spearman'} or callable
        Method of correlation:

        * pearson : standard correlation coefficient
        * kendall : Kendall Tau correlation coefficient
        * spearman : Spearman rank correlation
        * callable: callable with input two 1d ndarrays
            and returning a float. Note that the returned matrix from corr
            will have 1 along the diagonals and will be symmetric
            regardless of the callable's behavior.
    min_periods : int, optional
        Minimum number of observations required per pair of columns
        to have a valid result. Currently only available for Pearson
        and Spearman correlation.
    numeric_only : bool, default False
        Include only `float`, `int` or `boolean` data.

        .. versionadded:: 1.5.0

        .. versionchanged:: 2.0.0
            The default value of ``numeric_only`` is now ``False``.

    Returns
    -------
    DataFrame
        Correlation matrix.

    See Also
    --------
    DataFrame.corrwith : Compute pairwise correlation with another
        DataFrame or Series.
    Series.corr : Compute the correlation between two Series.

    Notes
    -----
    Pearson, Kendall and Spearman correlation are currently computed using pairwise complete observations.

    * `Pearson correlation coefficient <https://en.wikipedia.org/wiki/Pearson_correlation_coefficient>`_
    * `Kendall rank correlation coefficient <https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient>`_
    * `Spearman's rank correlation coefficient <https://en.wikipedia.org/wiki/Spearman%27s_rank_correlation_coefficient>`_

    Examples
    --------
    >>> def histogram_intersection(a, b):
    ...     v = np.minimum(a, b).sum().round(decimals=1)
    ...     return v
    >>> df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],
    ...                   columns=['dogs', 'cats'])
    >>> df.corr(method=histogram_intersection)
          dogs  cats
    dogs   1.0   0.3
    cats   0.3   1.0

    >>> df = pd.DataFrame([(1, 1), (2, np.nan), (np.nan, 3), (4, 4)],
    ...                   columns=['dogs', 'cats'])
    >>> df.corr(min_periods=3)
          dogs  cats
    dogs   1.0   NaN
    cats   NaN   1.0

In [72]:
#Question 21

#filtering dataset using loc, including all rows and
#columns temperature, humidity, and rentals - display as dataset using double brackets

#setting filter to humidity less than 10 according to visualization
#setting filter to rentals less than 500 according to visualization
halloween_df.loc[:,['Temperature', 'Humidity', 'RENTALS']][halloween_df.loc[:, 'Humidity'] < 10][halloween_df.loc[:, 'RENTALS']<500]

/var/folders/jz/l65kvw9n2ln9h101ztwmvl980000gn/T/ipykernel_74121/3820132853.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  halloween_df.loc[:,['Temperature', 'Humidity', 'RENTALS']][halloween_df.loc[:, 'Humidity'] < 10][halloween_df.loc[:, 'RENTALS']<500]

      Temperature  Humidity  RENTALS
1086         13.9       0.0      278
1087         12.4       0.0      123