In [2]:
import pandas as pd
from pandasql import sqldf

In [6]:
# importing dataset
file = "./Air+Rail_Combined.xlsx"

# defining variable for 1st excel sheet
passengers_df = pd.read_excel(io = file,
                              sheet_name = 0)

# defining variable for 2nd excel sheet
passengers_total = pd.read_excel(io = file,
                                sheet_name = 1)

# defining variable for 3rd excel sheet 
air_rail_df = pd.read_excel(io = file,
                           sheet_name = 2)

# getting info on dataset
passengers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   55 non-null     object
 1   air_incoming_passengers   55 non-null     int64
 2   rail_incoming_passengers  55 non-null     int64
 3   rail_outgoing_passengers  55 non-null     int64
 4   Year                      55 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.3+ KB

In [7]:
# calculating correlation between air traffic and rail traffic
passengers_df.corr(method = 'pearson', numeric_only = True).round(decimals = 2)

,air_incoming_passengers,rail_incoming_passengers,rail_outgoing_passengers,Year
air_incoming_passengers,1.00,0.81,0.80,-0.10
rail_incoming_passengers,0.81,1.00,0.93,0.15
rail_outgoing_passengers,0.80,0.93,1.00,0.12
Year,-0.10,0.15,0.12,1.00

In [11]:
# calculating correlation between air traiffc total and rail traffic total
total_corr = passengers_total.iloc[:,:2].corr(method = 'pearson', numeric_only = True)\
                              [['air_total_passengers']].round(decimals = 2)

total_corr

                       air_total_passengers
air_total_passengers                   1.00
rail_total_passengers                  0.71

In [12]:
# calculating correlation between air traffic and outgoing rail traffic
air_rail_df.corr(method = 'pearson', numeric_only = True)\
            [['air_incoming_passengers']].round(decimals = 2)

                          air_incoming_passengers
air_incoming_passengers                       1.0
rail_outgoing_passengers                      0.8
Year                                         -0.1